/* globals.css */
@import "tailwindcss";

:root {
  --background: #f8fafc; /* slate-50 for light mode */
  --foreground: #0f172a; /* slate-900 for light mode */
}

html.dark {
  --background: #0f172a; /* slate-900 for dark mode */
  --foreground: #f8fafc; /* slate-50 for dark mode */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}